{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Blog - Change Password{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block admin_content %}

<div class="top-content">
    <div class="inner-bg">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 form-box">
            	<div class="form-top">
            		<div class="form-top-left">
            			<h3>欢迎！</h3>
                		<p>现在您可以修改密码！</p>
            		</div>
            		<div class="form-top-right">
            			<i class="fa fa-key"></i>
            		</div>
                </div>
                <div class="form-bottom">
                    <form role="form" method="post" class="login-form">
                    	{{ form.hidden_tag() }}
                    	{{ wtf.form_field(form.old_password, placeholder="请输入旧密码...") }}
                    	{{ wtf.form_field(form.password, placeholder="请输入新密码...") }}
                    	{{ wtf.form_field(form.password2, placeholder="确认密码...") }}
                    	{{ wtf.form_field(form.submit) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        $("#password-change").addClass("active");
    });
</script>
{% endblock %}
