/* index.css */

.index-mainColumn .index-tabCard {
	background-color: #fff;
	height: 58px;
	line-height: 58px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}


.index-userColumn .user-info {
	margin-bottom: 5px;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.index-userColumn .user-info > .cover {
	height: 75px;
	line-height: 75px;
	position: relative;
/* 	background-image: url('/static/image/bg.jpg'); */
	background-repeat: no-repeat;
	text-align: center;
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.index-userColumn .user-info > .cover img {
	width: 70px;
	height: 70px;
}

.index-userColumn .info-detail {
	padding: 10px 20px;
	text-align: center;
}

.info-detail .nameBox .username {
	max-width: 200px;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
}

.info-detail .nameBox a:hover {
	color: #f78c2f;
}

.info-detail p {
	width: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info-detail .detail {
	margin-bottom: 0;
	text-decoration: none;
    color: #000000;


}

.info-detail ul.detail {
	height: 65px;
	border-top: 1px dashed #ccc;
	padding: 10px 0;
}

.info-detail ul.detail li {
	float: left;
	width: 24%;
	border-right: 1px solid #ccc;
}

.info-detail ul.detail li:last-child {
	border-right: none;
}


.info-detail ul.detail > li a {
	margin-bottom: 0;
	text-decoration: none;
    color: #000000;
    text-align: center;
}

.info-detail ul.detail > li a:hover strong {
	color: #f78c2f;
}

.info-detail ul.detail > li a span,  .info-detail ul.detail > li a strong{
	display: block;
}

.info-detail ul.detail > li a strong {
	font-size: 18px;
}

.info-detail ul.detail > li a span {
	font-size: 12px;
	color: #808080;
}

.index-userColumn .user-operition {
	margin-bottom: 5px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.user-operition > ul{
	margin-bottom: 0;

}

.user-operition ul:after {
	content: "";
	display: block;
	clear: both;
}

.user-operition ul.write li {
	float: left;
	width: 33%;
	text-align: center;
	padding: 25px 10px;
}

.user-operition ul.write li a {
	text-align: center;
	text-decoration: none;
	color: #5c5b5b;
	font-size: 14px; 
}

.user-operition ul.write li a:hover {
	color: #337ab7;
	font-weight: 600;
	opacity: 0.8;
}

.user-operition ul.write > li a span, .user-operition ul.write > li a i{
	display: block;
	margin-bottom: 5px;
}


.user-operition .my-favor ul li a {
	width: 100%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #5c5b5b;
	text-decoration: none;
	padding: 0 20px;
}

.user-operition .my-favor ul li a i {
	opacity: 0.5;
}

.user-operition .my-favor ul li a:hover {
	background-color: #f5f5f5;
}

.user-operition .my-favor ul li a:hover i {
	opacity: 1;
}


.sidebar .login-card {
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
}

.sidebar .login-card h4 {
	margin: 0;
	text-align: center;
}

.login-card #email, .login-card #password, .login-card #password2 {
	height: 40px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    color: #888;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.login-card .form-group {
	margin-bottom: 0;
}

.login-card #email:focus, .login-card #password:focus {
	opacity: .8;
	border: 1px solid #55acee;
}

.login-card #submit {
	width: 100%;
	background-color: #4aaf51;
	height: 40px;
	font-size: 16px;
}

.login-card #submit:hover { opacity: 0.8; color: #fff; }

.login-card #submit:active {outline: 0;opacity: 0.8;color: #fff;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}

.login-card #submit:focus { outline: 0; opacity: 0.8; background: #4aaf51; color: #fff; }

.login-card p.social-login a {
	padding: 0 5px;
	color: #f78c2f;
}

.advertisement {
	margin-top: 10px;
	height: 200px;
	background-color: #fff;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
