.form-box {
	margin-top: 20px;
	box-sizing: border-box;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 10px;
}

.form-top-left h3 {
	margin-top: 10px;
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
 }

.form-top-left p{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: left;
}


.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; 
	-webkit-border-radius: 0 0 4px 4px; 
	border-radius: 0 0 4px 4px;
	text-align: left;
	box-sizing: border-box;
	padding-top: 10px;
}

.form-bottom .form-group{
	margin: 10px 0;
}

#email, #password, #username, #password2, #old_password {
	height: 50px;
	background: #f8f8f8;
	border: 3px solid #ddd;
	font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


#submit{
	width: 100%;
	background-color: #4aaf51;
	height: 50px;
	font-size: 16px;
}

#submit:hover { opacity: 0.8; color: #fff; }

#submit:active {outline: 0;opacity: 0.8;color: #fff;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}

#submit:focus { outline: 0; opacity: 0.8; background: #4aaf51; color: #fff; }

/* #submit:active:focus, #submit:active:focus { outline: 0; opacity: 0.6; background: #4aaf51; color: #fff; } */

.social-login {
	margin-top: 15px;
	margin-bottom: 50px;
	text-align: center;

}


.social-login-buttons {
	margin-top: 25px;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}


.index-mainColumn .index-tabCard {
	background-color: #fff;
	height: 58px;
	line-height: 58px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}


/* index.html */
.index-mainColumn .index-tabCard ul.tabs {
	margin: 0;
}


.index-mainColumn .index-tabCard ul li {
	margin: 0;
	text-align: center;
}

.index-mainColumn .index-tabCard ul li a {
	display: inline-block;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
}

.index-mainColumn .index-tabCard ul li a:hover {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	opacity: .5;
}


.index-tabActive {
	font-weight: 600;
	background-color:  #4aaf51;
	color: #FFFFFF;
}

.index-mainColumn .index-tabCard ul li.index-tabActive a{
	color: #FFFFFF;
}

.index-userColumn .user-info {
	margin-bottom: 5px;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.index-userColumn .user-info > .cover {
	height: 75px;
	line-height: 75px;
	position: relative;
/* 	background-image: url('/static/image/bg.jpg'); */
	background-repeat: no-repeat;
	text-align: center;
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.index-userColumn .user-info > .cover img {
	width: 70px;
	height: 70px;
}

.index-userColumn .info-detail {
	padding: 10px 20px;
	text-align: center;
}

.info-detail .nameBox .username {
	max-width: 200px;
    display: inline-block;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #000000;
}

.info-detail .nameBox a:hover {
	color: #f78c2f;
}

.info-detail p {
	width: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info-detail .detail {
	margin-bottom: 0;
	text-decoration: none;
    color: #000000;


}

.info-detail ul.detail {
	height: 65px;
	border-top: 1px dashed #ccc;
	padding: 10px 0;
}

.info-detail ul.detail li {
	float: left;
	width: 24%;
	border-right: 1px solid #ccc;
}

.info-detail ul.detail li:last-child {
	border-right: none;
}


.info-detail ul.detail > li a {
	margin-bottom: 0;
	text-decoration: none;
    color: #000000;
    text-align: center;
}

.info-detail ul.detail > li a:hover strong {
	color: #f78c2f;
}

.info-detail ul.detail > li a span,  .info-detail ul.detail > li a strong{
	display: block;
}

.info-detail ul.detail > li a strong {
	font-size: 18px;
}

.info-detail ul.detail > li a span {
	font-size: 12px;
	color: #808080;
}

.index-userColumn .user-operition {
	margin-bottom: 5px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.user-operition > ul{
	margin-bottom: 0;

}

.user-operition ul:after {
	content: "";
	display: block;
	clear: both;
}

.user-operition ul.write li {
	float: left;
	width: 33%;
	text-align: center;
	padding: 25px 10px;
}

.user-operition ul.write li a {
	text-align: center;
	text-decoration: none;
	color: #5c5b5b;
	font-size: 14px; 
}

.user-operition ul.write li a:hover {
	color: #337ab7;
	font-weight: 600;
	opacity: 0.8;
}

.user-operition ul.write > li a span, .user-operition ul.write > li a i{
	display: block;
	margin-bottom: 5px;
}


.user-operition .my-favor ul li a {
	width: 100%;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #5c5b5b;
	text-decoration: none;
	padding: 0 20px;
}

.user-operition .my-favor ul li a i {
	opacity: 0.5;
}

.user-operition .my-favor ul li a:hover {
	background-color: #f5f5f5;
}

.user-operition .my-favor ul li a:hover i {
	opacity: 1;
}


.sidebar .login-card {
	background-color: #FFFFFF;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
}

.sidebar .login-card h4 {
	margin: 0;
	text-align: center;
}

.login-card #email, .login-card #password, .login-card #password2 {
	height: 40px;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    color: #888;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.login-card .form-group {
	margin-bottom: 0;
}

.login-card #email:focus, .login-card #password:focus {
	opacity: .8;
	border: 1px solid #55acee;
}

.login-card #submit {
	width: 100%;
	background-color: #4aaf51;
	height: 40px;
	font-size: 16px;
}

.login-card #submit:hover { opacity: 0.8; color: #fff; }

.login-card #submit:active {outline: 0;opacity: 0.8;color: #fff;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}

.login-card #submit:focus { outline: 0; opacity: 0.8; background: #4aaf51; color: #fff; }

.login-card p.social-login a {
	padding: 0 5px;
	color: #f78c2f;
}

.advertisement {
	margin-top: 10px;
	height: 200px;
	background-color: #fff;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

