body {
	background-color: #F1F8E5;
}

ul.posts li.post {
	margin: 10px;
	padding: 20px;
	border: 10px;
	list-style-type: none;
	background-color: #FFFFFF;
}

div.post-thumbnail {
	margin: 0;
	border: 0;
	padding: 0;
}

div.post-thumbnail .post-title {
	text-align: center;
	
}

div.post-date {
}

div.post-body {
	text-indent: 30px;
	font-size: 15px;
}

div.post-footer {
	text-align: right;
}

div.post-footer a {
	text-decoration: none;
}

div.post-footer a button {
	margin: 2px;
	width: 100px;
	margin-bottom: 0;
}


.comment{ 
	margin: 15px auto; 
	padding: 0 20px; 
	font-size: 14px;  
}

.comment:after{
	content: ""; 
	height: 0; 
	display: block;
	clear: both;
}

.user-avatar{ 
	padding: 0px; 
	width: 5%; 
	margin-top: 2px; 
	float: left; 
	position: relative;
}

.user-avatar img{
	margin-right: 10px;
}

.comment p {
	margin-bottom: 5px;
}

.comment-reply{
	float: right; 
	width:95%; 
	border-bottom: 1px dotted #8B8F8F;
}

.comment-content{
	clear: both;
}

.comment-footer{
	line-height: 18px; 
	height: 18px;
}

.comment-footer:after{
	content: ""; 
	height: 0; 
	display: block; 
	clear: both;}

ul{
	list-style-type: none;
}

.comment-footer .comment-date{
	float: left;
	padding-right: 10px;
}

.comment-footer ul{
	width: 300px; 
	float: right;
}

.comment-footer ul li{
	padding: 0px 10px;
	border-right: 1px #928B8B solid; 
	float: right;
}

.comment-footer ul li:first-child{
	border-right: none;
}

.replies{ 
	background-color: #DCDCDE;
}

.reply{
	margin-top: 5px; 
	padding: 5px; 
	padding-right: 0px; 
	border-bottom: 1px dotted #8B8F8F;
}

.reply:last-child{
	border-bottom: none;
}

.reply-footer{
	line-height: 18px; 
	height: 18px;
}

.reply-footer:after{
	content: ""; 
	height: 0; 
	display: block; 
	clear: both;
}

.reply-footer .reply-date{
	float: left;
}

.reply-footer ul{
	width: 300px; 
	float: right;
}

.reply-footer ul li{
	padding: 0px 10px; 
	border-right: 1px #928B8B solid; 
	float: right;
}

.reply-footer ul li:first-child{
	border-right: none;
}

.comment-operation button {
	font-size: 12px; 
	background-color: #F1F8E5; 
	border: none; padding: 0px 3px; 
	color: #51504E;
}

.reply-operation button {
	font-size: 12px; 
	background-color: #DCDCDE;
	 border: none; padding: 0px 3px;
	 color: #51504E;}

form {
	margin-top:10px;
}