*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f1f8e5;
}

ul{
	list-style-type: none;
}


.comment
{
    font-size: 14px;

    margin: 15px auto;
    padding: 0 20px;
}

.comment:after
{
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.user-avatar
{
    position: relative;

    float: left;

    width: 5%;
    margin-top: 2px;
    padding: 0;
}

.user-avatar img
{
    margin-right: 10px;
}

.comment p
{
    margin-bottom: 5px;
}

.comment-reply
{
    float: right;

    width: 95%;

    border-bottom: 1px dotted #8b8f8f;
}

.comment-content
{
    clear: both;
}

.comment-footer
{
    line-height: 18px;

    height: 18px;
}

.comment-footer:after
{
    display: block;
    clear: both;

    height: 0;

    content: '';
}

ul
{
    list-style-type: none;
}

.comment-footer .comment-date
{
    float: left;

    padding-right: 10px;
}

.comment-footer ul
{
    float: right;

    width: 300px;
}

.comment-footer ul li
{
    float: right;

    padding: 0 10px;

    border-right: 1px #928b8b solid;
}

.comment-footer ul li:first-child
{
    border-right: none;
}

.replies
{
    background-color: #dcdcde;
}

.reply
{
    margin-top: 5px;
    padding: 5px;
    padding-right: 0;

    border-bottom: 1px dotted #8b8f8f;
}

.reply:last-child
{
    border-bottom: none;
}

.reply-footer
{
    line-height: 18px;

    height: 18px;
}

.reply-footer:after
{
    display: block;
    clear: both;

    height: 0;

    content: '';
}



.reply-footer ul
{
    float: right;

    width: 300px;
}

.reply-footer .reply-date
{
    float: left;
}

.reply-footer ul li
{
    float: right;

    padding: 0 10px;

    border-right: 1px #928b8b solid;
}

.reply-footer ul li:first-child
{
    border-right: none;
}

.comment-operation button
{
    font-size: 12px;

    padding: 0 3px;

    color: #51504e;
    border: none;
    background-color: #f1f8e5;
}

.reply-operation button
{
    font-size: 12px;

    padding: 0 3px;

    color: #51504e;
    border: none;
    background-color: #dcdcde;
}

.post
{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.post .post-header
{
    height: 25px;

    text-align: center;
}

.post .post-header h4
{
    font-family: 'Sans-serif';
    font-weight: 600;
    line-height: 25px;

    height: 25px;
    margin: 0;
}

.post .post-header a
{
    text-decoration: none;

    color: #5c5b5b;
}

.post .post-header a:hover
{
    color: #f78c2f;
}

.post .post-info ul
{
    font-size: 12px;

    margin-top: 10px;

    text-align: center;
}

.post .post-info ul a
{
    text-decoration: none;

    color: #5c5b5b;
}

.post .post-info ul a:hover
{
    color: #f78c2f;
}

.post .post-info .post-author a
{
    color: #f5a341;
}

.post-body
{
    margin: 20px auto;
    padding: 10px;

    background-color: #fff;
}

.post-footer
{
    text-align: right;
}

.post-footer a
{
    margin: 0 10px;
}

.post-op{
	position: absolute;
	top: 10px;
	right: 10px;
}

.post-op{
	margin: 0 5px;
	width: 80px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 0;
}

.post-op .op-log{
	text-align: right;
	padding-right: 10px;
}

.post-op .op-log i{
    width: 18px;
    text-align: center;
}

.post-op .op{
	margin-top: 10px;
	width: 80px;
	border: 1px solid #8D8C8C;
	position: relative;
	background-color: #F8F4F4;
    display: none;

}

/* 实现小三角 */
.post-op .op:before{ 
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #8D8C8C;
	position: absolute;
	top: -6px;
	right: 10px;
	transform: rotate(45deg);/* 旋转45度 */
	border-bottom: none;
	border-right: none;
	background-color:  #F8F4F4;
}

.post-op ul {
	margin: 10px 0;
}
.post-op .op ul li a{
	display: block;
	width: inherit;
	height: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #2C2B2B;
}

.post-op .op ul li a:hover{
	color: #f78c2f;
	text-decoration: none;
	background-color: #E2E0E0;
}


form.comment-message{
    display: none;
}

