*
{
    margin: 0;
    padding: 0;
}

body
{
    /* background-image: url('/static/image/bg6.jpg'); */
    background-color: #D5DDDA;
    background-position: center; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul{
	list-style-type: none;
}

.post
{
    margin: 2px 0;
    padding: 10px 0;
    background-color: #fff;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.post .post-header
{
    height: 25px;

    text-align: center;
}

.post .post-header h4
{
    font-family: 'Sans-serif';
    font-weight: 600;
    line-height: 25px;

    height: 25px;
    margin: 0;
}

.post .post-header a
{
    text-decoration: none;

    color: #5c5b5b;
}

.post .post-header a:hover
{
    color: #f78c2f;
}

.post .post-info ul
{
    font-size: 12px;

    margin-top: 10px;

    text-align: center;
}

.post .post-info ul a
{
    text-decoration: none;

    color: #5c5b5b;
}

.post .post-info ul a:hover
{
    color: #f78c2f;
}

.post .post-info .post-author a
{
    color: #f5a341;
}

.post-body
{
    margin: 20px auto;
    padding: 10px;

    background-color: #fff;
}

.post-footer
{
    text-align: right;
}

.post-footer a
{
    margin: 0 10px;
}

.post-op{
	position: absolute;
	top: 10px;
	right: 10px;
}

.post-op{
	margin: 0 5px;
	width: 80px;
	height: 100px;
	position: absolute;
	top: 10px;
	right: 0;
}

.post-op .op-log{
	text-align: right;
	padding-right: 10px;
}

.post-op .op-log i{
    width: 18px;
    text-align: center;
}

.post-op .op{
	margin-top: 10px;
	width: 80px;
	border: 1px solid #8D8C8C;
	position: relative;
	background-color: #F8F4F4;
    display: none;

}

/* 实现小三角 */
.post-op .op:before{ 
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #8D8C8C;
	position: absolute;
	top: -6px;
	right: 10px;
	transform: rotate(45deg);/* 旋转45度 */
	border-bottom: none;
	border-right: none;
	background-color:  #F8F4F4;
}

.post-op ul {
	margin: 10px 0;
}
.post-op .op ul li a{
	display: block;
	width: inherit;
	height: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #2C2B2B;
}

.post-op .op ul li a:hover{
	color: #f78c2f;
	text-decoration: none;
	background-color: #E2E0E0;
}


form.comment-message{
    display: none;
}

.comments {
	margin-top: 30px;
	padding: 15px; 
	background-color: #FAF6F6; 
	width: 100%;
}

.comments .comment {
	border-top: 1px solid #B4B6B5; 
	padding: 10px 0;
}

.comments .comment .comment-footer ul{
	height: 25px;
	line-height: 25px;
	
}

/* admin_base */

.side-nav {
	padding: 10px 0;
}
.side-nav .side-nav-list {
	background-color: #fff;
    max-height: none;
    max-width: 228px;
    padding: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.side-nav .side-nav-list > li > a {
	display: block;
    width: 190px\9;
    margin: 0 0 -1px;
    padding: 14px 14px;
    border: 1px solid #e5e5e5;
}

.side-nav .side-nav-list > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.side-nav .side-nav-list > li:last-child > a {
	-webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.side-nav .side-nav-list > .active > a,
.side-nav .side-nav-list .active a:hover{
    background-color: #4aaf51;
    color: #fff;

}

.side-nav .side-nav-list .active a:hover{
    background-color: #4aaf51;
    color: #fff;
    opacity: 0.5;

}

.side-nav .side-nav-list > .active > a {
    position: relative;
    z-index: 2;
    padding: 15px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}


.side-nav .side-nav-list .glyphicon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
}

.side-nav .side-nav-list > li > a:hover {
    background-color: #f5f5f5;
}

.side-nav .side-nav-list a:hover .glyphicon-chevron-right {
    opacity: 0.5;
}


.side-nav .side-nav-list .active .glyphicon-chevron-right,
.side-nav .side-nav-list .active a:hover .glyphicon-chevron-right {
    opacity: 1;
}


/* change_pofile.html */

.profile-box .profile-title{
    margin: 20px 0;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-color: #e7e7e7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555555;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
}

.profile-box .profile-title i {
    color: #f78c2f;
}

.profile-box .profile-top .profile-top-left {
    float: left;
}

.profile-top-left {
    position: relative;
}

.profile-box .profile-top .profile-top-right {
    float: left;
    padding: 0 20px;
}

.profile-box .profile-top:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}


.profile-box .profile-top .profile-top-right h4 {
    margin-top: 5px;

}

.profile-box .profile-top .profile-top-right a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.profile-box .profile-top .profile-top-right a:hover {
    color: #f78c2f;
}

.profile-box .profile-body p {
    font-size: 16px;
}

.profile-box .profile-body p em {
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-right: 10px;
    font-weight: 400;
}

#profile-edit {
    display: inline-block;
    float: right;
    margin-right: .5em;
}

#profile-edit a {
    display: inline-block;
    font-size: 14px;
    width: 60px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #555555;
    background-color: #fff;
}

#profile-edit a i {
    color: #555555;
}

#profile-edit a:hover,  #profile-edit a:hover i{
    background-color: #f78c2f;
    color: #fff;
    border: none;
}
