{% extends "admin_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Blog - Change Avatar{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='Jcrop/css/jquery.Jcrop.min.css') }}">
<style>
#preview-box {
    display: block;
    padding: 6px;
    position: absolute;
    top: 10px;
    right: -270px;
    padding: 6px;
    border: 1px rgba(0, 0, 0, .4) solid;
    background-color: white;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.upload-title{
    margin: 20px 0;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-color: #e7e7e7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555555;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 18px;
}

.cut-avatar form .control-label {
    display: none;
}

.cut-avatar {
    margin: 0;
    margin-bottom: 100px;
}


.change-avatar form #submit{
    background-color: #4aaf51;
    font-size: 16px;
}

.change-avatar form #submit:hover { opacity: 0.8; color: #fff; }

.change-avatar form #submit:active {outline: 0;opacity: 0.8;color: #fff;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}

.change-avatar form #submit:focus { outline: 0; opacity: 0.8; background: #4aaf51; color: #fff; }

</style>
{% endblock %}

{% block admin_content %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 change-avatar">
        <div class="upload-avatar">
            <h3 class="upload-title">第一步：上传新头像</h3>
            <div>
                 <form action="{{ url_for('auth.upload_avatar') }}" method="post" enctype="multipart/form-data">
                    {{ upload_form.hidden_tag() }}
                    {{ wtf.form_field(upload_form.image) }}
                    {{ wtf.form_field(upload_form.submit) }}
                </form>  
            </div>
        </div>
        <div class="cut-avatar">
            <h3 class="upload-title">第二步：剪切图片<small><您需要调节图片显示部分></small></h3>
            <div>
                {{ avatars.crop_box('main.get_avatar', current_user.avatar_row) }}
                {{ avatars.preview_box('main.get_avatar', current_user.avatar_row) }}
            </div>
            <form action="{{ url_for('auth.crop_avatar') }}" method="post" enctype="multipart/form-data">
                {{ crop_form.hidden_tag() }}
                {{ wtf.form_field(crop_form.x) }}
                {{ wtf.form_field(crop_form.y) }}
                {{ wtf.form_field(crop_form.w) }}
                {{ wtf.form_field(crop_form.h) }}
                {{ wtf.form_field(crop_form.submit) }}
            </form> 
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='Jcrop/js/jquery.Jcrop.min.js') }}"></script>
{{ avatars.init_jcrop() }}
<script>
    $(document).ready(function(){
        $("#change-avatar").addClass("active");
    });
</script>
{% endblock %}
