{% import "bootstrap/wtf.html" as wtf %}
<ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="user-avatar">
            <img class="img-rounded profile-thumbnail" src="{{ url_for('main.get_avatar', filename=comment.author.avatar_s ) }}">
        </div>
        <div class="comment-reply">
            <div class="comment-content">
                <p>
                    <a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                    &nbsp;：&nbsp;
                    {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                    {% else %}
                    {{ comment.body }}
                    {% endif %}
                </p>
            </div>
            <div class="comment-footer">
                <div class="comment-date">{{ moment(comment.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</div>
                {% if current_user.is_authenticated %}
                <ul class="comment-operation">
                    <li class="to-comment"><button class="btn btn-info btn-xs">回复</button></li>
                    <li><button class="btn btn-info btn-xs">赞</button></li>
                    <li><a href="{{ url_for('main.comment_delete', id=comment.id) }}"><button class="btn btn-info btn-xs">删除</button></a></li>
                </ul>
                {% endif %}
            </div> 
            <form role="form" class="commentform" method="post" action="{{ url_for('.replyto_comment', id=comment.id ) }}"style="display: none;" ">
                <div class="form-group">
                    <textarea class="form-control" name="body" rows="2" placeholder=" 回复{{ comment.author.username }}：" required="required"></textarea>
                    <button type="submit" class="btn btn-default">发表</button>
                </div>
            </form>
            <ul class="replies">
                {% for reply in comment.replies %}
                {% if reply.comment==comment %}
                <li class="reply">
                    <div class="reply-content">
                        <p>
                            {% if reply.reply_type=="comment" %}
                                <a href="{{ url_for('.user', username=reply.author.username)}}">{{ reply.author.username }}</a>
                                &nbsp;：&nbsp;
                            {% endif %}
                            {% if reply.reply_type=="reply" %}
                                <a href="{{ url_for('.user', username=reply.author.username)}}">{{ reply.author.username }}</a>
                                &nbsp;回复&nbsp;
                                <a href="{{ url_for('.user', username=reply.replyto_user.username) }}">{{ reply.replyto_user.username }}</a>
                                 &nbsp;：&nbsp;
                            {% endif %}
                            {% if reply.body_html %}
                                {{ reply.body_html | safe }}
                                {% else %}
                                {{ reply.body }}
                            {% endif %}
                        </p>     
                    </div>
                    <div class="reply-footer">
                        <div class="reply-date"><small>{{ moment(reply.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</small></div>
                        <ul class="reply-operation">
                            <li class="to-reply"><button class="btn btn-info btn-xs">回复</button></li>
                            <li><button class="btn btn-info btn-xs">赞</button></li>
                            <li><a href="{{ url_for('main.reply_delete', id=reply.id ) }}"><button class="btn btn-info btn-xs">删除
                            </button></a></li>
                        </ul>
                    </div>
                    <form role="form" class="replyform" action="{{ url_for('.replyto_reply', id=reply.id ) }}" method="post" style="display: none">
                        <div class="form-group">
                            <textarea class="form-control" name="body" rows="2" placeholder=" 回复{{ reply.replyto_user.username }}：" required="required"></textarea>
                            <button type="submit" class="btn btn-default">发表</button>
                        </div>
                    </form>   
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
    
