<li class="comment media" style="border-top: 1px solid #B4B6B5; padding: 10px 0;" data-id="{{ comment.id }}">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="{{ url_for('main.get_avatar', filename=comment.author.avatar_s ) }}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
        </h4>
        <p>{{ comment.body | safe }}</p>
        <div class="comment-footer">
            <ul class="list-inline">
                <li class="comment-date"><small>{{ timestamp }}</small></li>
                {% if current_user.is_authenticated %}
                <li><a href="#" class="btn btn-default btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li>
                <li><a href="#" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a></li>
                <li class="comment-btn"><a href="javascript:void(0)" class="btn btn-default btn-xs">回复</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- 为Ajax填充回复reply预先留出空间 -->
        <ul class="replies media-list">
        </ul>
    </div>
</li>