<ul class="posts">
    {% for post in posts %}
    <li class="post">
        {% if current_user == post.author %}
        <div class="dropdown" style="float: right;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;操作
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('.edit', id=post.id) }}"><i class="fa fa-pencil fa-fw"></i>编辑文章</a></li>
                <li><a href="{{ url_for('main.post_delete', id=post.id) }}"><i class="fa fa-trash-o fa-fw"></i>删除文章</a></li>
            </ul>
        </div>
        {% elif current_user.is_administrator() %}
        <div class="dropdown" style="float: right;">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;操作
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ url_for('.edit', id=post.id) }}"><i class="fa fa-pencil fa-fw"></i>编辑文章[管理员]</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="post-content" style="margin-top: 10px;">
            <div class="post-thumbnail">
                <div class="post-title">
                    <h3><a href="{{ url_for('.post', id=post.id) }}" style="color: black">{{ post.title }}</a></h3>
                </div>
                <div class="post-date">
                    <small>
                            <a href="{{ url_for('.user', username=post.author.username) }}">
                                <i class="fa fa-user-circle"></i>&nbsp;{{ post.author.username }}
                            </a>
                            发表于&nbsp;<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;{{ moment(post.timestamp).format('YYYY/MM/DD') }}&nbsp;&nbsp;&nbsp;{{ moment(post.timestamp).fromNow() }}&nbsp;&nbsp;
                            <a href="{{ url_for('main.category', name=post.category.name) }}">
                                <span class="label label-success" style="background-color: #5bc0de">
                                    <i class="fa fa-tags"></i>&nbsp;{{ post.category.name }}
                                </span>
                            </a>
                    </small>
                </div>
            </div>
            <br>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                 <a href="{{ url_for('.post', id=post.id) }}#comments">
                    <button class="btn btn-info">
                        <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;{{ post.comments.count() }}&nbsp;评论
                    </button>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}">
                    <button class="btn btn-info" style="border-color: #767396; background-color: #767396">
                        更多&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
