{% extends "bootstrap/base.html" %}

{% block title %}My Blog{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mystyles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Awesome/css/font-awesome.min.css') }}">
<style type="text/css">
    * {
        padding:0;
        margin:0;
        }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Vic的个人博客</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;首页</a></li>
                {% for tag in tags %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ tag.tag_name }}</a>
                    <ul class="dropdown-menu">
                        {% for category in tag.categories %}
                        <li><a href="{{ url_for('main.category', name=category.name) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                </li>
                <li><a href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;关于博主</a><li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
                    账户<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a><li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><i class="fa fa-user fa-fw" aria-hidden="true"></i>请登陆</a></li>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/myscripts.js') }}"></script>
{{ moment.include_moment() }}
{% endblock %}
