{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}我的博客{% endblock %}

{% block head %}
{{ super() }}

<style type="text/css">
.user-info{text-align: center;}
#info span,strong{display: block;}
#myModal{ position: fixed;}
.index-top{margin-bottom: 20px; margin-top: 0px; padding:15px; background-color: #9DABCD;}
.index-top h3{margin: 0px;}
</style>

{% endblock %}

{% block page_content %}
    {% include 'modal.html' %}
	<div class="index-top">
		<h3>欢迎来到Vic的小站！</h3>
		<button type="button" class="btn btn-default"><a href="{{ url_for('.write_post') }}">写文章</a></button>
	   <!--  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">写文章</button> -->
	</div>
	<div class="container">
		<div class="row">
			<div class="side col-md-3">
			    <div class="panel panel-info">
			    	<div class="panel-heading"><small>个人中心</small></div>
			    	<div class="panel-body">
			    		<div class="user-info">
							<ul class="list-inline" id="info">
								<li><a href="#"><span>文章</span><strong>55</strong></a></li>
								<li><a href="#"><span>关注</span><strong>55</strong></a></li>
								<li><a href="#"><span>粉丝</span><strong>55</strong></a></li>
							</ul>
							<ul class="list-inline" id="contact">
								<p style="display: inline;">联系方式：</p>
								<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
							</ul>
			    		</div>
			    	</div>
			    </div>
			</div>
			<div class="col-md-8 col-xs-12">
				{% include 'post_summary.html' %}
	            {% if pagination %}
	            <div class="pagination">
	            {{ macros.pagination_widget(pagination, '.index') }}
	            </div>
	            {% endif %}
			</div>
		</div>
	<div>
{% endblock %}



