{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_pjax_macros.html" as macros %}

{% block title %}首页 - 前行之路{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<style>
	.Index-tabCard {
		background-color: #FFF;
		height: 50px;
		line-height: 50px;
	}

	ul.tabs {
		margin: 0;
	}

	li.tabs-item{
		position: relative;
		padding: 0 20px;
	}

	a.tabs-link {
		position: relative;
		text-decoration: none;
		font-size: 16px;
		color: #1a1a1a;
		padding: 17px 0;
	}

	.is-active {
		font-weight: 600;
	}

	.is-active:after {
		position: absolute;
	    right: 0;
	    bottom: -1px;
	    left: 0;
	    height: 3px;
	    background: #4aaf51;
	    content: "";
	}

	.content {
		position: relative;
		min-height: 150px;
		
	}


</style>

{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-3 col-xs-12">
		<div class="sidebar index-userColumn">
			{% if current_user.is_authenticated %}
			<div class="user-info">
				<div class="cover">
					<a href="{{ url_for('.user', username=current_user.username) }}">
						<img class="img-circle" src="{{ url_for('main.get_avatar', filename=current_user.avatar_m ) }}" alt="{{ current_user.username }}">
					</a>
				</div>	
				<div class="info-detail">
					<div class="nameBox">
						<a href="{{ url_for('.user', username=current_user.username) }}" class="username">{{ current_user.username }}</a>
					</div>
					<p>
						{% if current_user.about_me is none %}
                        暂无个人简介
                        {% else %}
                        <span>{{ current_user.about_me }}</span>
                        {% endif %}
                    </p>
					<ul class="detail">
						<li><a href="#"><strong>{{ current_user.posts.count() }}</strong><span>文章</span></a></li>
						<li><a href="#"><strong>{{ current_user.albums.count() }}</strong><span>相册</span></a></li>
						<li><a href="#"><strong>{{ current_user.followed.count() -1 }}</strong><span>关注</span></a></li>
						<li><a href="#"><strong>{{ current_user.followers.count() -1 }}</strong><span>粉丝</span></a></li>
					</ul>	
				</div>
			</div>
			<div class="user-operition">
				<ul class="write">
					<li>
						<a href="{{ url_for('.write_post') }}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i><span>写文章</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i><span>写说说</span></a>
					</li>
					<li>
						<a href="#"><i class="fa fa-upload fa-lg" aria-hidden="true"></i><span>传照片</span></a>
					</li>
				</ul>
				<div class="my-favor">
					<ul>
						<li><a href=""><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;草稿箱</a></li>
						<li><a href=""><i class="fa fa-star" aria-hidden="true"></i>&nbsp;我收藏的文章</a></li>
						<li><a href=""><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;我收藏的相册</a></li>
						<li><a href=""><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;我收藏的图片</a></li>
					</ul>
				</div>
			</div>
			{% else %}
			<div class="login-card">
				<h4>账号密码登陆</h4>
				<form role="form" method="post" class="login-form">
	            	{{ form1.hidden_tag() }}
	            	{{ wtf.form_field(form1.email, placeholder="邮箱地址...") }}
	            	{{ wtf.form_field(form1.password, placeholder="密码..." ) }}
	            	{{ wtf.form_field(form1.remember_me) }}
	            	{{ wtf.form_field(form1.submit) }}
	            </form>
	            <p style="margin-top: 10px; height: 15px; font-size: 12px;">
                	<a href="{{ url_for('auth.password_reset_request') }}" style="float: left; color: #000;">忘记密码？</a>
                	<a href="{{ url_for('auth.register') }}" style="float: right; color: #000;">注册账号</a>
                <p>
                <p class="social-login" style="height: 15px; font-size: 16px; text-align: center">
               		<a href="#"><i class="fa fa-qq"></i></a>
               		<a href="#"><i class="fa fa-wechat"></i></a>
               		<a href="#"><i class="fa fa-github"></i></a>
                </p>
			</div>
			{% endif %}
			<div class="advertisement">
				
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="Index-mainColumn">
			<div class="Index-tabCard">
				<ul class="list-inline tabs" role="tablist">
					<li class="tabs-item">
						<a data-pjax="#pjax-container" class="tabs-link {% if not show_followed %}is-active{% endif %}" href="/">
						全部
						</a>
					</li>
					{% if current_user.is_authenticated %}
					<li class="tabs-item">
						<a data-pjax="#pjax-container" class="tabs-link {% if show_followed %}is-active{% endif %}" href="{{ url_for('main.show_followed') }}">
						关注
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="content">
				<div id="pjax-container" class="Index-postContent">
					{% block pjax %}        
						{% include 'post_summary.html' %}
			            {% if pagination %}
			            <div class="pagination">
			            {{ macros.pagination_widget(pagination, '.index') }}
			            </div>
			            {% endif %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	$(function(){
		$(".tabs-link").click(function(){
			$(this).parent().siblings(".tabs-item").find(".tabs-link").removeClass("is-active");
			$(this).addClass("is-active");
		});
	});

	$(function(){
        $('a[data-pjax]').pjax()
    });

    $(document).pjax('a[data-pjax]', '#pjax-container', {
    	timeout: 3000,
    })

	//pjax回调，渲染时间戳
	$(document).on('pjax:success', function() {
		flask_moment_render_all();
	})

	//pjax 加载动画，使用Nprogress插件
	$(document).on('pjax:start', function() { NProgress.start(); });
	$(document).on('pjax:end',   function() { NProgress.done();  });

</script>
{{ moment.include_moment() }}
{% endblock %}


