{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			{% include '_posts.html' %}
			{% if current_user.can(Permission.COMMENT) %}
			<form role="form" id="comment" method="post">
				{{ form.hidden_tag() }}
				{{ wtf.form_field(form.body) }}
				{{ wtf.form_field(form.submit) }}
			</form>
			{% endif %}
			{% include '_comments.html' %}
			{% if pagination %}
			<div class="pagination">
			    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
	
</script>
{% endblock %}