{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Post{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<style>
.posts {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
#commentForm #body{
	background: #f8f8f8;
	border: 3px solid #ddd;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.comment-title{
    margin: 20px 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555555;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: black;
}

#reply-form {
	margin: 10px auto;
	max-width: 650px;
}



</style>
{% endblock %}

{% block page_content %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12 post-page">
			{% include '_posts.html' %}
			{% if current_user.can(Permission.COMMENT) %}
			<div class="comment-title"><p>欢迎评论！</p></div>
			<form role="form" id="commentForm">
				{{ form.csrf_token() }}
				{{ wtf.form_field(form.body, placeholder="请输入评论内容！") }}
				{{ wtf.form_field(form.submit, id="submit-comment") }}
			</form>
			{% else %}
			<div class="comment-title"><p>登陆后可以评论！</p></div>
			{% endif %}
			{% include '_comments.html' %}
			{% if pagination %}
			<div class="pagination">
			    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}


<script id="comment-template" type="text/html">
	<form action="" role="form" id="reply-form">
	    <div class="form-group">
	        <textarea type="text" class="form-control" name="body" rows="2"></textarea>
	    </div>
	    <button type="button" id="submit-reply" class="btn btn-default">提交</button>
	</form>
</script>

<script>

	//使用validate插件，验证表单评论post表单
	/*$(document).ready(function(){
		$("#commentForm").validate({
			rules: {
				body: "required" 
			} 
		});
	});*/

	//提交表单前对表单验证
	function showRequest(formData,jqForm,options){
	  	return $("#commentForm").valid(); 
	}

	//使用jqueryForm插件进行异步提交
	$(document).ready(function(){
		$("#commentForm").submit(function(){
			$(this).ajaxSubmit({
				type: 'post',
				url: $SCRIPT_ROOT +'/post/{{ posts[0].id }}',
				beforeSubmit: showRequest,
				success: function(data) {
					$(".comments").prepend($(data).fadeIn("100"));
					flask_moment_render_all(); //在浏览器中，每当添加包含时间戳的元素时，浏览器中的Ajax回调都需要调用 flask_moment_render_all()
					$("#commentForm").resetForm();
					toast('评论成功！');
				}
			});
			return false;//返回false，阻止表单的正常提交
		});
	});

	var template = $("#comment-template").html();


	//点击出现回复表单
	$(function(){
		$(".comments").on("click", ".comment-btn", function(){
			var replyform = $(this).parents(".comment-footer").find("#reply-form");
			if(replyform.length == 0){
				$("#reply-form").remove();
				$(this).parents(".comment-footer").append(template);
			}else{
				$("#reply-form").toggle();
			}
			
		});
	});


	//点击页面其他位置使表单隐藏
	$(document).bind('click', function(e) {
		var e = e || window.event; //浏览器兼容性 
		var elem = e.target || e.srcElement;
			while(elem) { //循环判断至跟节点，防止点击的是div子元素 
				if(elem.id && elem.id == 'reply-form' || elem.className == 'comment-btn') {
					return;
				}
				elem = elem.parentNode;
			}
			$('#reply-form').css('display', 'none'); //点击的不是div或其子元素 
	});


	function reply(e){
		var $el = $(e.target);
		var form = $("#reply-form");
		//判断是否为二级回复
		if ($el.parents(".reply").length == 0) {
			var id = $el.parents(".comment").data('id');
			$.ajax({
				url: $SCRIPT_ROOT +'/reply-comment/' + id,
				type: 'post',
				data: form.serialize(),
				success: function(data){
					$el.parents(".comment").find(".replies").prepend($(data).fadeIn("100"));
					flask_moment_render_all();
					$("#reply-form").hide();
					toast('回复成功！');
					$("#reply-form").resetForm();
				}
			});
		}else{
			var id = $el.parents(".reply").data('id');
			$.ajax({
				url: $SCRIPT_ROOT +'/reply-reply/' + id,
				type: 'post',
				data: form.serialize(),
				success: function(data){
					$el.parents(".reply").after($(data).fadeIn("100"));
					flask_moment_render_all();
					$("#reply-form").hide();
					toast('回复成功！');
					$("#reply-form").resetForm();
				}
			});
		}
	}

	//点击#submit-reply按钮提交表单, on 需要绑定页面中已经存在的html元素
	$(function(){
		$(".post-page").on("click", "#submit-reply", reply.bind(this));
	});
	
	
	




</script>
{% endblock %}