{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Blog - 上传图片{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dropzone/dropzone.min.css') }}">
{{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-hight: 400px;') }}
{% endblock %}

{% block page_content %}
<div>
	<h3>{{ album.albumname }}</h3>
	<p>相册描述：{% if album.decriptoin %}{{ album.decription }}{% else %}小懒虫什么也没说🙃🙃🙃{% endif %}</p>
</div>
<div class="upload-area">
	<h4>上传区域</h4>
	<div>
		{{ dropzone.create(action_view='main.upload_photos', album_id=album.id)}}
		<a class="btn btn-light float-right" href="{{ url_for('main.album_show', album_id=album.id) }}">完成</a>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='dropzone/dropzone.min.js') }}"></script>
{% endblock %}