{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}写文章{% endblock %}

{% block page_content %}
<form class="form" method="POST">
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
	    {{ form.hidden_tag() }}
	    {{ wtf.form_field(form.title) }}
	    {{ wtf.form_field(form.body, id="tinymce1") }}
	    {{ wtf.form_field(form.category) }}
	    {{ wtf.form_field(form.submit) }}
	{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
{{ pagedown.include_pagedown() }}
{% endblock %}